.laptop{
    display: none;
}
.tablet {
    display: none;
  }
.mobile{
      display: none;
  }

body{

    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
.top-container{
    padding: 70px 0 0 0;
    background-color: lightblue;
}
.sub-heading{
    font-size: 2.0rem;
    font-weight: normal;
}
.pro{
    text-decoration: underline;
}
.top-cloud{
    position: absolute;
    right: 400px;
    top: 50px;
}
h1{
    color: #66BFBF;
    font-size: 6.625rem;
    margin: 70px 0 0;
    font-family: 'Herr Von Muellerhoff', cursive;
}
.middle-cloud{
    position: absolute;
    left: 50px;
    top: 200px;
}
h2{
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
    
}
.intro{
    margin: auto;
    width: 65%;
}
h3{
    color:  #11999E;
    font-family: 'Montserrat', sans-serif;
}
.sub-heading{
    margin-bottom: 50px;
}
.bottom-cloud{
    position: absolute;
    right: 50px;
    top: 300px;
}
.land{
    width: 75%;
}

.skill-row{
    width: 60%;
    line-height: 2;
    margin: 100px auto 100px auto;
    text-align: left;
}
.profile-pic{
    height: 200px;
    width: 200px;
}
.coding{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.reading{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.middle-container{
    background-color: #eaf6f6;
    padding: 60px;
}
hr{
    color: grey;
    margin: 80px auto 80px auto;
    width: 10%;
    border-style: dotted none none none;
    border-width: 10px;
}
.bottom-container{
    background-color: #66BFBF;
    height: 150px;
}
p{
    line-height: 2;
}
a{
    color:  #11999E;
    text-decoration: none;
}
.footer-link{
    position: relative;
    top: 60px;
    margin: 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;

}
.footer-link:hover{
    color:#eaf6f6
}
.p-footer{
    font-family: 'Merriweather', serif;
    color: #eaf6f6;
    margin-top: 90px;
    
}
.btn {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background-color:#66bfbf;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	font-weight: 300;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #3d768a;
}.btn:hover {
	background-color:#11999E;
}.btn:active {
	position:relative;
	top:1px;
}

/* LAPTOP */

@media screen and (max-width: 1024px) {
    .desktop{
        display: none;
    }
    .laptop{
        display: inline;
    }
    .tablet{
        display: none;
    }
    .mobile{
        display: none;
    }
    .middle-cloud{
        position: absolute;
        left: 50px;
        top: 200px;
    }
    .bottom-cloud{
        position: absolute;
        right: 50px;
        top: 300px;
    }
    .intro{
        margin: auto;
        width: 100%;
    }


}

/* TABLET */

@media screen and (max-width: 768px) {
    .desktop{
        display: none;
    }
    .laptop{
        display: none;
    }
    .tablet{
        display: inline;
    }
    .mobile{
        display: none;
    }

    .middle-cloud{
        position: absolute;
        left: 5px;
        top: 200px;
    }
    .bottom-cloud{
        position: absolute;
        right: 9px;
        top: 300px;
    }
    .intro{
        margin: auto;
        width: 100%;
    }
    .skill-row{
        width: 100%;
    }
}

/* MOBILE */

@media screen and (max-width: 425px) {
    .desktop{
        display: none;
    }
    .laptop{
        display: none;
    }
    .tablet{
        display: none;
    }
    .mobile{
        display: inline;
    }
    .top-cloud{
        position: absolute;
        left: 90px;
        top: 50px;
    }
    .middle-cloud{
        position: absolute;
        left: -110px;
        top: 200px;

    }
    .bottom-cloud{
        position: absolute;
        right: 0px;
        top: 350px;
    }
    .land{
        width: 100%;
    }
    .intro{
        margin: auto;
        width: 100%;
    }
    .skill-row{
        width: 100%;
    }
    .coding{
        width: 35%;
        float: right;
        margin-right: 30px;
    }
    .reading{
        width: 35%;
        float: right;
        margin-left: 30px;
    }
}
 
